.download-icon {
    background-image: url(../assets/images/icons/download.svg);
    width: 16px;
    height: 17px;
    display: inline-block;
}

.research-subheader p {
    display: inline;
}

.research-subheader .font-light {
    line-height: 25px
}

.unlock-icon {
    background-image: url(../assets/images/icons/Unlock.svg);
    width: 16px;
    height: 20px;
    display: inline-block;
}