
.world-map {
    background-image: url(../assets/images/mapa-mundo.svg);
    background-repeat: no-repeat;
    height: 422px;
    width: 66%;
}

.sri-lanka-map {
    background-image: url(../assets/images/mapa2.svg);
    background-repeat: no-repeat;
    display: flex;
    flex-grow: 1;
    margin: 32px;
}


.map-row {
    margin-bottom: 30px;
}


.links-div {
    background-color: white;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

.row.links-div {
    margin-top: 20px;
    align-items: center;
}

.links-col {
    display: flex;
    justify-content: center;
    width: calc(50% - 20px);
}

.links-col .title-2 {
    color:#B8A68E;
}

.links-div .font-light {
    font-family: 'Fira Sans Condensed', sans-serif; 
    font-size: 17px; 
    font-weight: 300;
    line-height: 20px;
    color: black;
}

.title-2 {
    margin-bottom: 12px;
}


.pics-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pics-div:not(:first-child) {
    margin-top: 5px;
}

.pics-div-text-video {
    width: calc(50% - 20px);
}

.pics-div-video {
    position: relative;
    width: calc(50% - 20px);
    background-color:white;
}

.pics-div-image {
    width: calc(50% - 20px);
    position: relative;

    background-image: url(../assets/images/slp-instagram.svg);
    background-repeat: no-repeat;
}

.pics-div-text-image {
    width: calc(50% - 15px);
}


.title1b {
    text-align: left;
    font-family: 'Fira Sans Condensed', sans-serif; 
    font-weight: 350; 
    font-size:30px; 
    color: #B8A68E;
}

.margin-between-resources-and-button {
    height: 10px;
}