
.world-map {
    background-image: url(../assets/images/mapa-mundo.svg);
    background-repeat: no-repeat;
    height: 422px;
    width: 66%;
}

.sri-lanka-map {
    background-image: url(../assets/images/mapa2.svg);
    background-repeat: no-repeat;
    display: flex;
    flex-grow: 1;
    margin: 32px;
}


.map-row {
    margin-bottom: 30px;
}


.links-div {
    background-color: white;
}

.row.links-div {
    margin-top: 20px;
    align-items: center;
}

.links-col {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}

.links-col .title-2 {
    color:#B8A68E;
}

.links-div .font-light {
    font-family: 'Fira Sans Condensed', sans-serif; 
    font-size: 17px; 
    font-weight: 300;
    line-height: 20px;
    color: black;
}

a:link {
    color :#B8A68E;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #875725;
    background-color: transparent;
    text-decoration: none;
  }


.title-2 {
    margin-bottom: 12px;
}

